@model COMP003B.Assignment3.Models.EventRegistration

@Model.Name
@Model.EmailAddress
@Model.EventCode
@Model.Tickets
@Model.ReferralCode

<p>Congratulations! You will receive an email with your tickets for Event 2025, shortly!</p>
	
	<p>See you there!</p>

@{
	<partial name="_EventNav" />
}


